.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  
  .footer-link {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
  
    &:hover {
      text-decoration: underline;
      color: white;
    }
  }
  