<div class="calculator">
  <form [formGroup]="purchaseCostForm">
    <div class="form-container">
      <div class="form-group">
        <label>Reason for buying property:</label>
        <select formControlName="reasonForBuying">
          <option value="firstTimeBuyer">First-Time Buyer</option>
          <option value="homeMover">Home Mover</option>
          <option value="buyToLet">Buy-to-Let/Second Home</option>
        </select>
      </div>

      <div class="form-group">
        <label>Property Price (£):</label>
        <input type="number" formControlName="propertyPrice" [placeholder]="formattedPlaceholders.propertyPrice">
      </div>

      <div class="form-group">
        <label>Stamp Duty (£):</label>
        <input type="number" [value]="stampDuty | number:'1.0-0'" disabled>
      </div>

      <div class="form-group">
        <label>Mortgage Fees (£):</label>
        <input type="number" formControlName="mortgageFees" [placeholder]="formattedPlaceholders.mortgageFees">
      </div>

      <div class="form-group">
        <label>Survey Fees (£):</label>
        <input type="number" formControlName="surveyFees" [placeholder]="formattedPlaceholders.surveyFees">
      </div>

      <div class="form-group">
        <label>Legal Fees (£):</label>
        <input type="number" formControlName="legalFees" [placeholder]="formattedPlaceholders.legalFees">
      </div>

      <div class="form-group">
        <label>Broker Fees (£):</label>
        <input type="number" formControlName="brokerFees" [placeholder]="formattedPlaceholders.brokerFees">
      </div>

      <div class="form-group">
        <label>Moving Costs (£):</label>
        <input type="number" formControlName="movingCosts" [placeholder]="formattedPlaceholders.movingCosts">
      </div>
    </div>
  </form>

  <div class="result-container">
    <div class="result-left">
      <p>Total Purchase Costs</p>
      <h2>£{{ totalCosts | number:'1.0-0' }}</h2>
    </div>
  </div>
</div>